# Build artifacts
/build/
/*.o
*.o

# Final binary
atm
build/atm

# Static / shared libs
*.a
*.so

# macOS / Windows junk
.DS_Store
Thumbs.db

# Editor temp files
*.swp
*.swo
*~
*.tmp

# Debug symbols
*.dSYM/

# VS Code settings
.vscode/

# Log files
*.log

# Database files
data/*.db
data/*.txt
